$colorWhite: #FFFFFF;
$colorTextBlack: #1B1C21;
$colorTextGray: #7E7E82;
$colorBackgroundMain: #F8F8F8;
$colorButtonMain: #FF3E79;
$colorAccentMain: #41F6D7;
$colorHover: #B8FFEC;
$colorDivider: #EAEAEA;