.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $colorButtonMain;
    border-radius: 50%;

    // Icon modifier values
    &--menu{background-image: url(@public/assets/svg/burger.svg);}
    &--chat{background-image: url(@public/assets/svg/chat.svg);}
    &--check{background-image: url(@public/assets/svg/check-repair.svg);}
    &--phone{background-image: url(@public/assets/svg/phone.svg);}
    &--profile{background-image: url(@public/assets/svg/profile.svg);}
    &--repair{background-image: url(@public/assets/svg/repair.svg);}
    &--cross{background-image: url(@public/assets/svg/cross.svg);}
    &--search{background-image: url(@public/assets/svg/search.svg);}
    &--go{
        background-color: transparent;
        background-image: url(@public/assets/svg/ic-go.svg);
    }
    &--arrow {
        background-image: url(@public/assets/svg/arrow-right.svg);
    }
    &--arrow-small {
        background-image: url(@public/assets/svg/arrow-small.svg);
    }
    &--no-bgc {
        background-color: transparent;
    }
}