.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  @media (min-width: $widthTablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 32px 24px;
  }
  @media (min-width: $widthDesktop) {
    padding: 0 32px 32px;
  }
  &__description {
    margin: 0 16px;
    @media screen and (min-width: $widthTablet) {
      padding-top: 8px;
      flex: 1 1 50%;
      margin-right: 24px;
      margin-left: 0;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 93px;
    width: 100%;
    overflow: hidden;
    transition: height 0.2s linear;
    @media screen and (min-width: $widthTablet) {
      height: 152px;
    }
  }
  &__picture {
    @media screen and (min-width: $widthTablet) {
      flex: 1 1 50%;
      margin-left: 24px;
    }
  }
  &__img {
    @media (min-width: calc($widthMobileXL + 1px)) {
      border-radius: 8px;
    }
  }
}
