.card-section {
    &__heading {
        padding: 16px 16px;
        border-top: 1px solid $colorAccentBorder;
        background-image: linear-gradient(to right, transparent, $colorWhite);
        @media (min-width: $widthTablet) {
            padding: 16px 24px;
        }
        @media (min-width: $widthDesktop) {
            padding: 16px 32px;
        }
    }
    &__slider {
        margin: 16px 0;
    }
    &__list-wrapper {
        margin: 24px;
        @media (min-width: $widthTablet) {
            margin: 24px 24px;
        }
        @media (min-width: $widthDesktop) {
            margin: 24px 32px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        overflow-y: hidden;
        gap: 16px 24px;
        max-height: max-content;
        height: 160px;
        box-sizing: content-box;
        transition: height .2s linear;
        @media (min-width: $widthTablet) {
            justify-content: center;
            gap: 16px 24px;
        }
        @media (min-width: $widthContentDesktop) and (max-width: ($widthDesktop - 1px)) {
            gap: 16px 32px;
        }
        @media (min-width: $widthDesktop) {
            justify-content: space-between;
        }
        &-header {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 16px;
            margin-bottom: 16px;
            & div {
                color: $colorTextGray;
                font-weight: 500;
                flex-basis: 100%;
                &:first-child {
                    flex: 0 0 50%;
                }
                &:nth-child(3) {
                    flex: 0 0 15%;
                }
                &:last-child {
                    align-self: end;
                    max-width: 120px;
                    height: 100%;
                }
            }
        }
        &--vertical {
            flex-direction: column;
            flex-wrap: nowrap;
            height: auto;
            gap: 0;
            border-radius: 6px;
            & .card-section__item {
                border-radius: 0;
            }
        }
    }
    &__item {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 240px;
        height: 72px;
        padding: 16px 16px;
        border: 1px solid $colorDivider;
        border-radius: 6px;
        background-color: $colorWhite;
        font-size: 16px;
        @media (min-width: $widthTablet) {
            width: 224px;
        }
        @media (min-width: $widthDesktop) {
            width: 240px;
        }
        &>img {
            margin-right: auto;
        }
        &--big {
            height: 160px;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            & .card-section__link {
                align-self: end;
            }
        }
        &--details {
            width: 260px;
            height: 200px;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            row-gap: 16px;
            font-size: 14px;
            @media (min-width: $widthTablet) {
                width: unset;
                height: 64px;
                flex-wrap: nowrap;
                align-items: center;
                border: none;
                border-bottom: 1px solid $colorDivider;
            }

        }
    }
    &__link {
        line-height: 0;
    }
    &__footer {
        padding: 0 16px;
        width: min(100vw, 420px);
        @media (min-width: $widthTablet) {
            margin: 0 24px;
        }
        &-text {
            margin-bottom: 16px;
        }
        &-link {
            display: flex;
            align-items: flex-end;
            width: 192px;
            font-weight: 500;
            @media (min-width: $widthTablet) {
                width: max-content;
            }
            & > .icon {
                height: 16px;
                width: 16px;
                position: relative;
                left: -40%;
                @media (min-width: $widthTablet) {
                    left: 0;
                }
            }
        }
    }
}
