.page {
    &-wrapper {
        // position: relative;
        max-width: 100vw;
        overflow-x: hidden;
    }
    &-main {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        background-color: $colorBackgroundMain;
        min-height: 100vh;
        &--center {
            padding-left: $centeringPadding;
            padding-right: $centeringPadding;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: $widthTablet) {
    .page {
        &-wrapper {
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &-main {
            max-width: $widthContentDesktop;
        }
    }
    
}

@media screen and (min-width: $widthContentDesktop) {
    .page {
        &-wrapper {
            overflow-x: hidden;
        }
        &-main {
            min-width: $widthContentDesktop;
            max-width: unset;
            padding-left: padCenter($widthContentDesktop);
            padding-right: padCenter($widthContentDesktop);
        }
    }
}

@media screen and (min-width: $widthDesktop) {
    .page {
        &-wrapper {
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
        }
        &-main {
            min-width: $widthContentDesktop;
            max-width: $widthContentDesktop;
            padding-left: 0;
            padding-right: 0;
        }
    } 
}