.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__description {
        margin: 0 16px;
    }
    &__text {
        height: 93px;
        width: 100%;
        overflow: hidden;
        white-space: pre-wrap;
        transition: height .2s linear;
    }
}
@media screen and (min-width: $widthMobile) {
    .about-us {
        &__img {
            border-radius: 8px;
        }
    }
}
@media screen and (min-width: $widthTablet) {
    .about-us {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 24px;
        &__description {
            padding-top: 8px;
            flex: 1 1 50%;
            margin-right: 24px;
            margin-left: 0;
        }
        &__text {
            height: 152px;
        }
        &__picture {
            flex: 1 1 50%;
            margin-left: 24px;
        }
        &__img {
            border-radius: 8px;
        }
    }
}
@media screen and (min-width: $widthTablet) {
    .about-us {
        padding: 0 32px;
    }
}