// // Временный костыль для отключения скролла при открытом меню
// body:has(.side-menu--show) {
//     overflow: hidden;
//     height: 100vh;  
// }
// // Временный костыль для отображения меню при нажатии на кнопку (анимацию оценить, наверное=))
// body:has(.side-menu__button:active) .side-menu{
//     transform: none;  
//     &__backdrop {
//         width: 200vw;
//         height: 100vh;
//         opacity: 0.8;
//     }
// }
.side-menu {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform .2s linear;
    &__backdrop {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background-color: $colorBackgroundMain;
        opacity: 0;
        transition: opacity .2s linear;
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: $widthMobile;
        height: 100%;
        padding: 18px 24px 32px;
        background-color: $colorWhite;
        overflow-y: scroll;
        overscroll-behavior: none;
        box-shadow: 0 0 20px 0 $colorTextGray;
        z-index: 1;
    }
    &--open {
        transform: none;
        & .side-menu__backdrop {
            width: 100vw;
            height: 100vh;
            opacity: 0.8;
        }
    }
    &__button {
        // &:active {
        //     & .menu__target {
        //         transform: none;
        //     }
        // }
    }
    &__header {
        display: flex;
        width: 100%;
        margin-bottom: 24px;
    }
    &__logo {
        margin-left: 16px;
        margin-right: auto;
    }
    &__links {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: auto;
        }
        &-item {
            display: flex;
            align-items: center;
            height: 32px;
            color: $colorTextBlack;
            &--current {
                position: relative;
                color: $colorTextGray;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -24px;
                    height: 100%;
                    border: 2px solid $colorAccentMain;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
            &:hover {
                color: $colorTextGray;
            }
        }
    }
    &__user-menu {
        width: 100%; 
        margin-top: 32px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 16px;
    }
    &__lang {
        &-list {
            display: flex;
            gap: 8px;
            margin-top: 8px;
        }
        &-item {
            &--current {
                filter: opacity(60%);
            }
        }
    }

}
@media screen and (min-width: $widthTablet) {
    .side-menu {
        &__header {
            margin-bottom: 32px;
        }
        &__links {
            &__list {
                gap: 32px;
            }
        }
        &__lang {
            &-list {
                margin-top: 32px;
            }
        }
    }  
}
@media screen and (min-width: $widthMobile) and (max-width: $widthMobileXL) {
    .side-menu { 
        width: 100vw;
    }
}
@media screen and (min-width: $widthDesktop) {
    .side-menu {
        &__content {
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}