.slider {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  &::before {
    @include fadeRight;
  }
  &::after {
    @include fadeLeft;
  }
  &__wrapper {

  }
  &__item {

  }
  &__pagination {
    position: static !important;
    & .swiper-pagination-bullet {
      background-color: gray;
      width: 12px;
      height: 12px;
      margin: 0 6px !important;
      transition: background-color .2s;
    }
    & .swiper-pagination-bullet-active {
      background-color: darkgray; 
    }
  }
}