// Main colors
$colorWhite: #FFFFFF;
$colorBackgroundMain: #F8F8F8;
$colorButtonMain: #FF3E79;

// Text colors
$colorTextBlack: #1B1C21;
$colorTextGray: #7E7E82;

// Decoration colors
$colorHover: #B8FFEC;
$colorDivider: #EAEAEA;
$colorAccentMain: #41F6D7;
$colorAccentBorder: #D9FFF5;