// Adaptive breakpoints

$widthMobile: 320px;
$widthMobileXL: 360px;
$widthTablet: 768px;
$widthDesktop: 1440px;

// Block sizes

$widthContentDesktop: 1120px;
$widthSideMenu: 320px;

// Misc

$centeringPadding: calc((100vw - $widthContentDesktop) / 2);
$zIndexSidebar: 100;
$zIndexSidebarRight: 101;