@use "styles/misc/reset.css";

@import "styles/misc/mixins";
@import "styles/misc/colors";
@import "styles/misc/vars";
@import "styles/misc/typography";
@import "styles/ui/ui";
@import "styles/blocks/blocks";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    // outline: 1px solid tomato;
}

.no-overflow {
    height: 100vh;
    overflow: hidden
}
.visually-hidden {
    @include visually-hidden;
}
.--mobile-hidden {
    @media (max-width: calc($widthTablet - 1px)) {
        display: none !important;
    }
}
.--desktop-hidden {
    @media screen and (min-width: $widthDesktop) {
        display: none !important;
    }
}
.--mobile-only {
    @media screen and (min-width: $widthTablet) {
        display: none !important;
    }
}
.--desktop-only {
    @media screen and (max-width: calc($widthDesktop - 1px)) {
        display: none !important;
    }
}
.--center {
    padding-left: calc((100vw - $widthDesktop) / 2);
    padding-right: calc((100vw - $widthDesktop) / 2);
}