@use "/styles/misc/reset.css";

@import "/styles/misc/mixins";
@import "/styles/misc/colors";
@import "/styles/misc/vars";
@import "/styles/misc/typography";
@import "/styles/ui/ui";
@import "/styles/blocks/blocks";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.no-overflow {
    height: 100vh;
    overflow: hidden
}

.visually-hidden {
    @include visually-hidden;
}

@media screen and (max-width: calc($widthTablet - 1px)) {
    .--mobile-hidden {
        display: none;
    }
}

@media screen and (min-width: $widthDesktop) {
    .--desktop-hidden {
        display: none;
    }
}

@media screen and (min-width: $widthTablet) {
    .--mobile-only {
        display: none;
    }
}

@media screen and (max-width: calc($widthDesktop - 1px)) {
    .--desktop-only {
        display: none;
    }
}

.--center {
    padding-left: calc((100vw - $widthDesktop) / 2);
    padding-right: calc((100vw - $widthDesktop) / 2);
}